{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <header>
        {{ include ("partials/_topbar.html.twig") }}
    </header>
    <div class="container bt">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">Données invalide</div>
            {% endif %}
        
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter?</a>
                </div>
            {% endif %}
        
            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
            <label for="inputEmail">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
            <button class="btn btn-primary" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
